<div class="featured-video">
  <div class="lite-youtube-wrap">
    <div
      class="lite-youtube"
      data-videoid="{{ video.youtube_id }}"
      {% if video.title %}data-title="{{ video.title }}"{% endif %}
    >
      <a
        class="lite-youtube-link"
        href="https://www.youtube.com/watch?v={{ video.youtube_id }}"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Play {{ video.title or 'video' }} on YouTube"
      >
        <img
          class="lite-youtube-thumb"
          src="https://i.ytimg.com/vi/{{ video.youtube_id }}/hqdefault.jpg"
          alt="{{ video.title or 'Featured video' }}"
          loading="lazy"
        />
        <div class="lite-youtube-play" aria-hidden="true">
          <svg viewBox="0 0 68 48" xmlns="http://www.w3.org/2000/svg">
            <path d="M66.52 7.74c-.78-2.93-2.49-5.41-5.42-6.19C55.79.13 34 0 34 0S12.21.13 6.9 1.55c-2.93.78-4.63 3.26-5.42 6.19C.06 13.05 0 24 0 24s.06 10.95 1.48 16.26c.78 2.93 2.49 5.41 5.42 6.19C12.21 47.87 34 48 34 48s21.79-.13 27.1-1.55c2.93-.78 4.64-3.26 5.42-6.19C67.94 34.95 68 24 68 24s-.06-10.95-1.48-16.26z" fill="#f00"/>
            <path d="M45 24 27 14v20z" fill="#fff"/>
          </svg>
        </div>
      </a>
    </div>
  </div>
  {% if video.title %}
  <p class="video-label">{{ video.title }}</p>
  {% endif %}
</div>
