{% if section.title %}
<div class="section-header">
  <span class="section-header-text">{{ section.title }}</span>
</div>
{% endif %}

{% if section.type == "cards" %}
<ul class="portfolio-list">
  {% for link in section.links %}
  <li>
    {% include "portfolio-card.njk" %}
  </li>
  {% endfor %}
</ul>
{% else %}
<ul class="link-list">
  {% for link in section.links %}
  <li>
    {% include "link-button.njk" %}
  </li>
  {% endfor %}
</ul>
{% endif %}
